# C++

## Prerequisites
*.d

## Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/

## Precompiled Headers
*.gch
*.pch

## Compiled Dynamic libraries
*.so
*.dylib
*.dll

## Fortran module files
*.mod
*.smod

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

## Executables
*.exe
*.out
*.app

# Project specific

## Binaries

bin/
bin-int/

## IDE related

### Visual Studio
.vs/
*.user
*.vcxproj
*.filters
*.sln

## Latex
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.gz
*.toc
*.bbl
*.blg
